.chat {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 15px;
  height: 70px;
  border-bottom: 1px solid #fafafa;
}

.row {
  width: 100%;
  background-color: blanchedalmond;
  text-align: left;
}

.row:hover {
  background-color: rgb(231, 231, 231);
}

.chat__details {
  /* flex: 1; */
}

.chat__details > p {
  color: gray;
}

.chat__timestamp {
  color: lightgray;
}

.chat__image {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}
